/* Aqadnica.id 2021 */
/*------------------------------------------------------------------
[Table of contents]

1.  Common Styles
	1.1	Variables
	1.2	Mixins
	1.3	Flexbox
	1.4	Reset
2.  Elements
3.  Menu 
4.  Hero
5.  Home
6.  Price
7.  Points
8.  Feature
9.  Brands
10. Review
11. Execution
12. Accordian
13. Carusel
14. Request Demo
15. Blog
16. Contact
17. Footer

-------------------------------------------------------------------*/
/* =================================== */
/*  Font Family and Colors Styles
/* =================================== */
/* =================================== */
/*  Basic Style 
/* =================================== */
@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap");

::-moz-selection {
  /* Code for Firefox */
  background-color: #000;
  color: #fff;
}

::selection {
  background-color: #000;
  color: #fff;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #777777;
  font-weight: 300;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #777777;
  opacity: 1;
  font-weight: 300;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #777777;
  opacity: 1;
  font-weight: 300;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #777777;
  font-weight: 300;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #777777;
  font-weight: 300;
}

body {
  background-color: #f8fdff;
  color: #303030;
  font-family: "Poppins", sans-serif;
  /* font-family: 'Alice', serif; */
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
  position: relative;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

select {
  display: block;
}

figure {
  margin: 0;
}

a {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

iframe {
  border: 0;
}

a,
a:focus,
a:hover {
  text-decoration: none;
  outline: 0;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
  text-decoration: none;
  outline: 0;
}

.card-panel {
  margin: 0;
  padding: 60px;
}

/**
 *  Typography
 *
 **/
.btn i,
.btn-large i,
.btn-floating i,
.btn-large i,
.btn-flat i {
  font-size: 1em;
  line-height: inherit;
}

.gray-bg {
  background: #f9f9ff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  color: #222222;
  line-height: 1.2em !important;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 600;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0;
  margin-top: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #222222;
}

h1,
.h1 {
  font-size: 36px;
}

h2,
.h2 {
  font-size: 30px;
}

h3,
.h3 {
  font-size: 24px;
}

h4,
.h4 {
  font-size: 18px;
}

h5,
.h5 {
  font-size: 16px;
}

h6,
.h6 {
  font-size: 14px;
}

td,
th {
  border-radius: 0px;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clear::before,
.clear::after {
  content: " ";
  display: table;
}
.clear::after {
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text-italic {
  font-style: italic;
}

.text-white {
  color: #fff;
}

.text-black {
  color: #000;
}

.transition {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.section-gap-full {
  padding: 120px 0;
}

.section-gap-half {
  padding: 75px 0;
}

.pb-30 {
  padding-bottom: 30px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.display-table {
  display: table;
}

.light {
  color: #fff;
}

.dark {
  color: #222;
}

.relative {
  position: relative;
}

.overflow-hidden {
  overflow: hidden;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.container.fullwidth {
  width: 100%;
}
.container.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.no-padding {
  padding: 0;
}

.padding-top-120 {
  padding-top: 120px;
}

.row.no-margin {
  margin-left: 0;
  margin-right: 0;
}

/* =================================== */
/*  Common Styles 
/* =================================== */
.scroll-top {
  width: 40px;
  height: 40px;
  line-height: 44px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 999;
  font-size: 22px;
  color: #fff;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: none;
  background: #007997;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.section-title {
  margin-bottom: 75px;
}

.offwhite-bg {
  background-color: #eee;
}

.primary-btn {
  text-align: center;
  border-radius: 25px;
  background: #2cb4d6;
  padding: 15px 40px;
  font-weight: 400;
  min-width: 160px;
  display: inline-block;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.primary-btn:hover {
  color: #fff;
  -webkit-box-shadow: 0px 30px 90px rgba(105, 28, 255, 0.14) !important;
  box-shadow: 0px 30px 90px rgba(105, 28, 255, 0.14) !important;
  -ms-transform: translateY(-2px);
  transform: translateY(-2px);
  -webkit-transform: translateY(-2px);
}

/* =================================== */
/*  Preloader Styles 
/* =================================== */
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #691cff;
  -webkit-animation: spin 2s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
  z-index: 1001;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f51dac;
  -webkit-animation: spin 3s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 3s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #fff;
  -webkit-animation: spin 1.5s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 1.5s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}
#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #222;
  z-index: 1000;
  -webkit-transform: translateX(0);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(0);
  /* IE 9 */
  transform: translateX(0);
  /* Firefox 16+, IE 10+, Opera */
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(-100%);
  /* IE 9 */
  transform: translateX(-100%);
  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(100%);
  /* IE 9 */
  transform: translateX(100%);
  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateY(-100%);
  /* IE 9 */
  transform: translateY(-100%);
  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.3s 1s ease-out;
  -o-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out;
}

/* =================================== */
/*  Banner Styles 
/* =================================== */
.header-area {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
}

.dope-nav-container {
  background-color: transparent;
  padding: 10px 0px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 0.25s cubic-bezier(0.43, 0.49, 0.51, 0.68);
  -o-transition: 0.25s cubic-bezier(0.43, 0.49, 0.51, 0.68);
  transition: 0.25s cubic-bezier(0.43, 0.49, 0.51, 0.68);
}

.dope-nav-container.dope-sticky {
  background-color: #192a56;
  padding: 0px;
}

.dope-navbar {
  padding: 0.5em 5em;
}

.nav-brand {
  max-width: 120px;
}

.dopenav ul li.megamenu-item > a::after,
.dopenav ul li.has-down > a::after {
  color: #fff;
}

.header-area {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
}

.dark.dope-nav-container {
  background-color: rgba(25, 42, 86, 0.3);
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
}

.dope-nav-container.dope-sticky {
  background-color: #fffffff2;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-shadow: 0px 9px 40px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 9px 40px -13px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 9px 40px -13px rgba(0, 0, 0, 0.75);
}

.dope-navbar {
  padding: 0.5em 5em;
}

.nav-brand {
  max-width: 120px;
}

.bg-img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-transparent {
  background-color: transparent !important;
}

.dope-nav-container {
  position: relative;
  z-index: 100;
  /* sticky */
}

.dope-nav-container * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.dope-nav-container a {
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  text-decoration: none;
  outline: none;
  font-size: 14px;
  font-weight: 600;
  color: #000;
  display: inline-block;
}

.dope-nav-container a:hover {
  color: #2cb4d6;
}

.dope-nav-container.dope-sticky {
  position: fixed;
  z-index: 1010;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}

.justify-content-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.justify-content-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.dope-navbar {
  width: 100%;
  height: 70px;
  padding: 0.5em 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}

.dopenav ul li {
  display: inline-block;
  clear: both;
  position: inherit;
  z-index: 10;
}

.dopenav ul li.cn-dropdown-item {
  position: relative;
  z-index: 10;
}

.dopenav ul li.cn-dropdown-item ul li {
  position: relative;
  z-index: 10;
}

.dopenav ul li ul li {
  display: block;
}

.dopenav ul li ul li a {
  padding: 0 20px;
}

.dopenav ul li a {
  padding: 0 12px;
  display: block;
  height: 35px;
  font-size: 14px;
  line-height: 34px;
}

.dopenav ul li .megamenu li a {
  padding: 0 12px;
}

.dopenav ul li div.single-mega a {
  height: auto;
  line-height: 1;
}

.dopenav ul li ul li.has-down > a::after {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: absolute;
  top: 0;
  right: 10px;
  z-index: 3;
}

/* button css */
.dope-btn {
  position: relative;
  z-index: 1;
  min-width: 120px;
  padding: 0 25px;
  line-height: 42px;
  height: 42px;
  background-color: #1abc9c;
  border-radius: 50px;
  color: #fff !important;
  margin-left: 30px;
  text-align: center;
}

.dope-btn:hover,
.dope-btn:focus {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Close Icon */
.dopecloseIcon {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 12;
  display: none;
}

.dopecloseIcon .cross-wrap {
  width: 26px;
  height: 26px;
  cursor: pointer;
  position: relative;
}

.dopecloseIcon .cross-wrap span {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 6px;
  background: #fff;
}

.dopecloseIcon .cross-wrap span.top {
  top: 12px;
  left: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.dopecloseIcon .cross-wrap span.bottom {
  bottom: 12px;
  left: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* navbarToggler */
.dope-navbar-toggler {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

.dope-navbar-toggler .navbarToggler {
  display: inline-block;
  cursor: pointer;
}

.dope-navbar-toggler .navbarToggler span {
  position: relative;
  background-color: #222;
  border-radius: 3px;
  display: block;
  height: 2px;
  margin-top: 5px;
  padding: 0;
  -webkit-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  width: 30px;
  cursor: pointer;
}

.dope-navbar-toggler .navbarToggler span:nth-of-type(1) {
  width: 20px !important;
}

.dope-navbar-toggler .navbarToggler span:nth-of-type(3) {
  width: 15px !important;
}

.dope-navbar-toggler .navbarToggler.active span:nth-of-type(1) {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
  top: 8px;
  width: 30px !important;
}

.dope-navbar-toggler .navbarToggler.active span:nth-of-type(2) {
  opacity: 0;
}

.dope-navbar-toggler .navbarToggler.active span:nth-of-type(3) {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
  top: -6px;
  width: 30px !important;
}

.breakpoint-off .dopenav ul li .megamenu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 100%;
  left: 0;
  top: 120%;
  background-color: #ffffff;
  z-index: 200;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
}

.breakpoint-off .dopenav ul li.megamenu-item:hover .megamenu,
.breakpoint-off .dopenav ul li.megamenu-item:focus .megamenu {
  top: 100%;
  visibility: visible;
  opacity: 1;
}

/* Mobile/Tablet Nav CSS */
.breakpoint-on .dopecloseIcon {
  display: block;
}

.breakpoint-on .dope-navbar-toggler {
  display: block;
}

.breakpoint-on .dope-navbar .dope-menu {
  background-color: #2cb4d6;
  position: fixed;
  top: 0;
  left: -310px;
  z-index: 1000;
  width: 300px;
  height: 100%;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  padding: 0;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  display: block;
  overflow-x: hidden;
  overflow-y: scroll;
}

.breakpoint-on .dope-navbar .dope-menu.menu-on {
  left: 0;
}

.breakpoint-on .dopenav ul li {
  display: block;
  position: relative;
  clear: both;
  z-index: 10;
}

.breakpoint-on .dopenav ul li a {
  padding: 0 10px;
  height: 38px;
  line-height: 38px;
  color: #fff;
}

.breakpoint-on .dopenav ul li .dropdown {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.breakpoint-on .dopenav ul li .dropdown li .dropdown {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.breakpoint-on .dopenav ul li.megamenu-item {
  position: relative;
  z-index: 10;
}

.breakpoint-on .dd-trigger {
  height: 38px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

.breakpoint-on .dopenav ul li .dropdown,
.breakpoint-on .dopenav ul li .megamenu {
  display: none;
}

.breakpoint-on .dopenav {
  padding-top: 70px;
  padding-left: 20px;
  padding-right: 20px;
}

.breakpoint-on .dopenav ul li .megamenu {
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 200;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.breakpoint-on .dopenav ul li .megamenu .single-mega.cn-col-5,
.breakpoint-on .dopenav ul li .megamenu .single-mega.cn-col-4,
.breakpoint-on .dopenav ul li .megamenu .single-mega.cn-col-3 {
  width: 100%;
  border-right: none;
  border-bottom: 1px solid #f2f4f8;
}

.breakpoint-on .dopenav > ul > li > a {
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.breakpoint-on .dopenav ul li ul.dropdown li ul li {
  margin-left: 15px;
}

.breakpoint-on .dope-btn {
  width: calc(100% - 30px);
  margin: 30px 15px;
}

.breakpoint-on .dopenav ul li.megamenu-item > a::after,
.breakpoint-on .dopenav ul li.has-down > a::after {
  position: absolute;
  top: 0;
  right: 20px;
  z-index: 5;
}

.breakpoint-on .dopenav ul li.has-down.active > a:after,
.breakpoint-on .dopenav ul li.megamenu-item.active > a:after {
  color: #fff;
}

/* Right Side Menu Open CSS */
.right.breakpoint-on .dope-navbar .dope-menu {
  left: auto;
  right: -310px;
}

.right.breakpoint-on .dope-navbar .dope-menu.menu-on {
  left: auto;
  right: 0;
}

.dropdown-rtl.breakpoint-on .dopenav ul li ul.dropdown li ul li {
  margin-left: 0;
  margin-right: 15px;
}

.event-header .dopenav #nav li a {
  color: #fff;
}
.event-header .dopenav ul li.megamenu-item > a:after,
.event-header .dopenav ul li.has-down > a:after {
  color: #fff;
}
.event-header .dropdown li > a:after {
  color: #222 !important;
}
.event-header .dropdown li a,
.event-header .single-mega li a {
  color: #222 !important;
}
.event-header .dope-sticky .dopenav #nav li a,
.event-header .dope-sticky .dopenav ul li.megamenu-item > a:after,
.event-header .dope-sticky .dopenav ul li.has-down > a:after {
  color: #222;
}
.event-header .dope-navbar-toggler .navbarToggler span {
  background-color: #fff !important;
}
.event-header .dope-sticky .dope-navbar-toggler .navbarToggler span {
  background-color: #222 !important;
}

/* =================================== */
/*  Banner Styles 
/* =================================== */

.banner-section2 .overlay-bg {
  background: url(../img/banner-overlay2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.banner-section2 .banner-left h1 {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 400;
}
.banner-section2 .banner-left h1 span {
  display: block;
  padding-top: 20px;
  font-weight: 600;
  font-size: 60px;
}
.banner-section2 .banner-left p {
  margin: 20px 0px;
  max-width: 450px;
}

/* =================================== */
/*  Features Styles 
/* =================================== */
.featured-section .row {
  padding-bottom: 75px;
  border-bottom: 1px solid #eee;
}
.featured-section .single-logo {
  text-align: center;
}
.featured-section .single-logo img {
  text-align: center;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.5;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.featured-section .single-logo img:hover {
  -ms-transform: scale(0.9, 0.9);
  -webkit-transform: scale(0.9, 0.9);
  transform: scale(0.9, 0.9);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
  opacity: 1;
}

.feature-section {
  background: url(../img/feature-bg.png) center no-repeat;
  background-size: cover;
}
.feature-section .header-left h1 {
  padding-bottom: 30px;
  font-size: 50px;
  text-transform: capitalize;
}
.feature-section .feature-wrap {
  padding-top: 60px;
}

.features-wrap .single-feature {
  background: #fff;
  border-radius: 5px;
  padding: 40px;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.features-wrap .single-feature span {
  font-size: 35px;
  color: #29a1be;
  padding-bottom: 25px;
  display: inline-block;
}
.features-wrap .single-feature h3 {
  margin-bottom: 15px;
  font-weight: 400;
}
.features-wrap .single-feature h5 {
  margin-bottom: 10px;
}
.features-wrap .single-feature p {
  margin-bottom: 0px;
  line-height: 1.5em;
}
.features-wrap .single-feature:hover {
  -webkit-box-shadow: 0px 30px 90px rgba(105, 28, 255, 0.14) !important;
  box-shadow: 0px 30px 90px rgba(105, 28, 255, 0.14) !important;
}
.features-wrap .single-feature:hover span,
.features-wrap .single-feature:hover p,
.features-wrap .single-feature:hover h3,
.features-wrap .single-feature:hover h5 {
  color: #fff;
}
.features-wrap .single-feature .overlay-bg {
  border-radius: 5px;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.feature-wrap .single-feature {
  -o-transition: 0.3s all ease !important;
  transition: 0.3s all ease !important;
  -webkit-transition: 0.3s all ease !important;
}
.features-wrap .single-feature:hover {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(31, 147, 167, 0.877)),
    to(rgba(111, 205, 228))
  );
}
.features-wrap .single-feature:hover .overlay-bg {
  opacity: 1;
}
.features-wrap .single-feature:hover span,
.features-wrap .single-feature:hover h3,
.features-wrap .single-feature:hover h5,
.features-wrap .single-feature:hover p {
  position: relative;
}

/* =================================== */
/*  About Styles 
/* =================================== */
.about-section .about-left img {
  width: 100%;
}
.about-section .about-right h3 {
  font-weight: 300;
}
.about-section .about-right h1 {
  margin-top: 20px;
  margin-bottom: 30px;
  max-width: 480px;
}
.about-section .about-right .icon {
  margin-right: 30px;
}
.about-section .about-right .icon span {
  font-size: 40px;
  color: #691cff;
}
.about-section .about-right .details p {
  max-width: 300px;
  margin-top: 15px;
}
.about-section .about-right .details h4 {
  font-weight: 400;
}
.about-section .about-right ul li {
  margin-bottom: 20px !important;
}
.about-section .about-right ul li:last-child {
  margin-bottom: 0px !important;
}

.floating-shapes span {
  display: block;
  position: absolute;
}
.floating-shapes span img {
  display: block;
  max-width: 100%;
  height: auto;
}
.floating-shapes span:nth-child(1) {
  left: 4.8%;
  top: 4.5%;
}
.floating-shapes span:nth-child(2) {
  left: 9.6%;
  top: 27.2%;
}
.floating-shapes span:nth-child(3) {
  left: 8.8%;
  bottom: 16%;
}
.floating-shapes span:nth-child(4) {
  left: 25%;
  bottom: 21%;
}
.floating-shapes span:nth-child(5) {
  left: 35%;
  top: 6.6%;
}
.floating-shapes span:nth-child(6) {
  left: 43%;
  bottom: 30%;
}
.floating-shapes span:nth-child(7) {
  left: 49%;
  top: 50%;
}
.floating-shapes span:nth-child(8) {
  right: 11.8%;
  top: 33%;
}
.floating-shapes span:nth-child(9) {
  right: 6%;
  top: 10%;
}
.floating-shapes span:nth-child(10) {
  right: 4.5%;
  bottom: 33%;
}

@media screen and (max-width: 767.98px) {
  .floating-shapes span {
    -webkit-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
    display: none;
  }
}
/* =================================== */
/*  Testimonial Styles 
/* =================================== */
.testimonial-section {
  padding-top: 120px;
}
.testimonial-section .testimonial-left p {
  margin-top: 10px;
  margin-bottom: 40px;
  max-width: 300px;
}
.testimonial-section .testimonial-right h2 {
  margin-bottom: 30px;
}
.testimonial-section .single-testimonial {
  border: 1px solid #eee;
  background: #eeeeee1f;
  border-radius: 5px;
  padding: 30px;
}
.testimonial-section .single-testimonial p {
  color: #222;
  font-weight: 400;
}
.testimonial-section .single-testimonial {
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}
.testimonial-section .single-testimonial .img-wrap {
  margin-right: 20px;
}
.testimonial-section .single-testimonial .img-wrap img {
  border-radius: 30px;
}
.testimonial-section .single-testimonial .details p {
  margin-bottom: 0px;
  color: #8c8d9e;
}
.testimonial-section .testimonial-white-bg {
  background: #fff !important;
  border-color: #fff !important;
}
.testimonial-section .carusel-two .owl-dots .owl-dot {
  background: #fff;
}
.testimonial-section .owl-dots {
  text-align: left;
  margin-top: 30px;
}
.testimonial-section .owl-dots .owl-dot {
  border-radius: 20px;
  width: 14px;
  height: 14px;
  background: #eeeeee;
  display: inline-block;
  margin: 0px 5px;
}
.testimonial-section .owl-dots .owl-dot.active {
  background: #2cb4d6;
}
.testimonial-section .owl-dots .owl-dot:focus {
  outline: none;
}

/* =================================== */
/*  Portfolio Styles 
/* =================================== */
.portfolio-section .single-portfolio {
  margin-bottom: 30px;
  text-align: center;
  overflow: hidden;
  position: relative;
  border-radius: 3px;
}
.portfolio-section .single-portfolio img {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 100%;
}
.portfolio-section .single-portfolio .box-content {
  width: 100%;
  padding: 40px 0;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0px;
  opacity: 0;
  -webkit-transform: translateY(30px);
  -ms-transform: translateY(30px);
  transform: translateY(30px);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.portfolio-section .single-portfolio:hover .box-content {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.portfolio-section .single-portfolio:hover img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.portfolio-section .single-portfolio .box-content .title {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  margin: 0 0 5px 0;
}
.portfolio-section .single-portfolio .box-content .post {
  display: inline-block;
  font-size: 15px;
  color: #fff;
  text-transform: capitalize;
}
.portfolio-section .primary-btn {
  margin-top: 20px;
}

.product-detials-section img {
  width: 100%;
}
.product-detials-section .details-right {
  padding-bottom: 20px;
}
.product-detials-section .details-right ul {
  margin-bottom: 20px;
}
.product-detials-section .details-right ul li {
  margin-bottom: 8px;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}
.product-detials-section .details-right ul li span {
  font-weight: 900;
}
.product-detials-section .details-right p {
  color: #000;
  font-weight: 400;
}
.product-detials-section .details-right p:last-child {
  margin-bottom: 0px;
}

/* =================================== */
/*  Team Styles 
/* =================================== */
.team-section {
  background-color: #eee;
}
.team-section .single-team {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.team-section .single-team img {
  width: 100%;
  position: relative;
}
.team-section .single-team:hover .team-content {
  opacity: 1;
}
.team-section .team-content {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background: rgba(34, 34, 34, 0.8);
  padding: 20px 0px;
  color: #fff;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.team-section .team-content a,
.team-section .team-content h4 {
  color: #fff;
}
.team-section .team-content ul li {
  display: inline-block;
  margin: 5px;
}
.team-section .owl-dots {
  text-align: center;
  margin-top: 30px;
}
.team-section .owl-dots .owl-dot {
  width: 14px;
  height: 14px;
  background: #fff;
  display: inline-block;
  margin: 0px 5px;
}
.team-section .owl-dots .owl-dot.active {
  background: #2cb4d6;
}
.team-section .owl-dots .owl-dot:focus {
  outline: none;
}

/* =================================== */
/*  Clients Styles 
/* =================================== */
.clients-wrap {
  padding: 30px 0px;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
}

.single-client {
  text-align: center;
}

.contact-wrap {
  padding: 60px 0px;
}
.contact-wrap h3 {
  font-weight: 400;
}
.contact-wrap h3 i {
  margin-right: 10px;
}

/* =================================== */
/*  Contact Styles 
/* =================================== */
.contact-section {
  background: url(../img/download-bg.png);
  border-bottom: 100px solid #222;
}
.contact-section .section-title {
  padding-top: 120px;
}

.form-row {
  background: #fff;
  padding: 30px 0px;
  border-radius: 3px;
  margin-bottom: -100px;
  box-shadow: 0px 0px 158px 0px rgba(0, 0, 0, 0.11);
  -webkit-box-shadow: 0px 0px 158px 0px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 0px 0px 158px 0px rgba(0, 0, 0, 0.11);
}

.address-wrap .single-address-col {
  text-align: center;
  margin-bottom: 40px;
}
.address-wrap .single-address-col i {
  font-size: 50px;
  color: #2cb4d6;
}
.address-wrap .single-address-col p {
  font-size: 16px;
  margin-top: 10px;
  color: #222;
}

.contact-form-wrap {
  padding: 50px;
}
.contact-form-wrap .form-col {
  margin-bottom: 30px;
}
.contact-form-wrap .form-control {
  border-radius: 0px;
  border-top: none;
  border-left: none;
  border-right: none;
  background: transparent;
  padding-left: 0px;
}
.contact-form-wrap .form-control:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-color: #222 !important;
}
.contact-form-wrap .primary-btn {
  vertical-align: center;
  margin-top: 30px;
  border: none;
}
.contact-form-wrap .primary-btn:focus {
  outline: none;
}

.form-row .message {
  height: 50px;
  width: 100%;
  font-size: 13px;
  line-height: 50px;
  text-align: center;
  float: none;
  margin-top: 20px;
  display: none;
  color: #fff;
}
.form-row .error {
  background: #ef5659;
}
.form-row .success {
  background: #691cff;
}

.contact-page-section {
  background: #eee !important;
}
.contact-page-section .single-address-col .div {
  padding: 30px 0px;
  border-radius: 5px;
  background: #fff;
  margin-bottom: 40px;
}

.home-contact {
  padding-bottom: 50px;
}

/* =================================== */
/*  Footer Styles 
/* =================================== */
.footer-section {
  background: #222;
}
.footer-section .footer-menu {
  text-align: right;
}
.footer-section .footer-menu li {
  display: inline-block;
  padding-left: 12px;
}
.footer-section .footer-menu li a {
  font-weight: 400;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.footer-section .footer-menu li a:hover {
  color: #2cb4d6;
}
.footer-section .copyright-text {
  margin-top: 30px;
  text-align: left;
  color: #fff;
}
.footer-section .copyright-text a {
  color: #fff;
}
.footer-section .copyright-text a:hover {
  color: #2cb4d6;
}
.footer-section #social {
  text-align: right;
  margin-bottom: 20px;
}
.footer-section #social li {
  display: inline-block;
}
.footer-section #social li a {
  color: #fff;
  text-align: center;
  display: block;
  margin-left: 15px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.footer-section #social li a i {
  font-size: 22px;
}
.footer-section #social li a:hover {
  color: #2cb4d6;
  border-color: #2cb4d6;
}
.footer-section .footer-cols h4 {
  color: #fff;
  margin-bottom: 20px;
}
